body{
    padding: 0;
    margin: 0;
    display: flex; 
     /* justify-content: center;
    align-items: center; */
    background-image: url("hd3.jpg");
    background-size: cover;
    background-attachment: fixed;
   
   
    font-family: Verdana;
}
.container{
    position: relative;
    display: block;
    height:500px;
    width:900px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url("charli3.jpg");
    background-size: 100% 100%;
    overflow: hidden;
    margin-bottom: 20%;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 10%;
}
#text{
    position: absolute;
    display:inline-block;
    color:pink;
    left:-200%;
    height: 400px;
    width: 500px;
    transition:all 0.4s ease-in-out;


}
.img{
    height: 5px;
    width: 10px;
    align:right;
}
.container:hover #text{
    left:10%;
    cursor:pointer;
}
#text h1{
    text-align:center;
  
}
.letter{
    transition:all 0.2s ease-in-out;
}
.letter:hover{
    color:pink;
    font-size:20px;
}
